
div.main_content {
    margin: 0 auto;
}
input.quantity_input {
    max-width: 100px;
}
div.submit {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}
div.action_buttons{
	float: right;
}