form > select {
    margin-bottom: 10%;
}
form > h5 {
    margin-bottom: 0;
}
div.image_frame {
    background: #FAFAFA;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #C8C8C8;
    margin-bottom: 3%;
    padding-top: 2%;
    padding: 2% 4% 0;
}
div.image_frame > a > img {
    height: 170px;
    margin: 0 auto 3%;
    display: block;
}
div.image_frame > p {
    font-size: 1.15em;
    display: block;
    text-align: center;
}

div.carousel-inner > div > img {
    margin: 0 auto;
}

div#paginate{
    margin: -2% 0 0 0;
}