@media all and (max-width:1024px) {
    div.search_well{
        display: none !important;
    }
    div.main_content{
        margin: 0 auto !important;
        width: 80% !important;
        float: none !important;
    }
    img.img_thumbnail{
        max-height: 200px;
    }
}

@media all and (min-width: 1025px){
    div.main_content{
        width: 100%;
        max-width: 900px;
    }
    img.img_thumbnail{
        max-height: 200px;
    }
}

@media all and (min-width:1025px) and (max-width: 1320px){
    div#action_buttons > * {
        font-size: 1.1em ;
        padding-left: 0;
        padding-right: 0;
    }
}


form > select {
    margin-bottom: 10%;
}
form > h5 {
    margin-bottom: 0;
}
div.gallery_row{
    margin-bottom: 3%;
}
div.image_frame {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 5px 5px 10px #C8C8C8;
    padding: 2% 4% 0;
}

img.img_thumbnail {
    display: block;
    margin: 0 auto 3%;
}
div.image_frame > p {
    display: block;
    font-size: 1.15em;
    text-align: center;
}
div.carousel-inner > div > img {
    margin: 0 auto;
}
div#paginate {
    margin: -2% 0 0;
}

/*CSS BELOW IS FOR SIDEBAR*/
div#action_buttons > *{
    font-size: 1.2em;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
div#action_buttons > a{
    line-height: 30px;
}
div#search_well{
    float: right;
    max-width: 200px;
}
span.ui-dropdownchecklist-selector-wrapper > span{
    max-width: 180px !important;
    padding: 0;
}
div.ui-dropdownchecklist-dropcontainer-wrapper{
    max-width: 182px !important 
}
div.crsl{
    height: 460px;
    /*max-height: 400px;*/
}