
div.carousel-inner {
    box-shadow: 5px 5px 10px;
    margin: 0 auto;
}
img.item {
    height: auto;
    width: 100%;
}
a.carousel-control.left {
    left: -1%;
}
a.carousel-control.right {
    right: -1%;
}
div#background-color {
    height: 77%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
ul.nav.nav-tabs > li > a {
}
li.active > a, a:hover {
    border-bottom-style: none;
    border-bottom-width: medium;
}
