td.quantity_cell > *{
	display: inline-block;
	margin-left: 10px;
}
td.quantity_cell{
	vertical-align: middle;
	text-align: right;
}
input.quantity_input{
	width: 50px !important
}
input.dimension_input{
	width: 50px !important;
}
td.title_cell{
	width: 30% !important;
}
select.finish_dropdown{
	width: auto;
	margin-left: 10px;
}
.hide_div{
	display: none !important;
}