td.quantity_cell > *{
	display: inline-block;
	margin-left: 10px;
}
td.quantity_cell{
	vertical-align: middle;
	text-align: right;
}
input.quantity_input{
	width: 50px !important
}
input.dimension_input{
	width: 50px !important;
}
td.title_cell{
	width: 30% !important;
}
select.finish_dropdown{
	width: auto;
	margin-left: 10px;
}
.hide_div{
	display: none !important;
}
td{
	width: auto !important;
}
label.ib{
	margin-left: 10px;
}
h5.ib{
	vertical-align: middle;
}
input.finish_type_select{
	width: 100px !important;
	margin-left: 10px;
}
.input_required{
	border:2px solid red !important;
}