td.quantity_cell > *{
	display: inline-block;
	margin-left: 10px;
}
td.quantity_cell{
	vertical-align: middle;
	text-align: right;
}
input.quantity_input{
	width: 50px !important
}
input.dimension_input{
	width: 30px !important;
}
td.title_cell{
	width: 35% !important;
}
select{
	width: auto;
	min-width: 100px;
}
.hide_div{
	display: none !important;
}
label.ib{
	margin-left: 10px;
}
td{
	padding-bottom: 0 !important;
	padding-top: 3px !important;
}
td >select{
	margin: 0;
}
div.add_cart_success{
	max-width: 782px;
	margin-bottom: 10px !important;
}
div.product_frame{
	margin-bottom: 15px !important
}
div.tooltip-arrow{
	border-right-color: #097A00 !important;
}
div.tooltip-inner{
	background: #097A00 !important;
}