.table.table-bordered.table-striped {
    margin-top: 1%;
    table-layout: fixed;
}
ul.nav-stacked > li > a {
    font-size: 0.9em;
}
ul.nav-stacked {
    padding-bottom: 10%;
}
td.actions, th.actions {
    text-align: center;
    width: 20%;
    vertical-align: middle;
}
div.inline-criteria-values {
    overflow-x: scroll;
    white-space: nowrap;
}
div.inline-criteria-values > div {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}
select{
    width: auto !important;
}