div.select > select{
	width: auto !important;
}
div.select{
	display: inline-block;
}
.nowrap {
	white-space: nowrap;
}
div.submit > input {
	margin-left: 2%;
}
td.actions,th.actions{
	width: 50px !important;
}
.table{
	table-layout: auto !important;
}