tr.image_column > td > img {
    display: block;
    height: 0.45px;
    margin: 0 auto;
}

 img.view_image_thumbnail {
    height: auto;
    max-height: 80px;
    max-width: 160px;
    width: auto;
    display: inline-block;
    margin-right: 1%
}
ul{
	list-style-type: none;
}