@media all and (max-width:768px){
	div.actions_sidebar{
		display:none !important;
	}
	div.navbar_frame{
		display:none !important;
	}
	div.customers_view{
		width:400px !important;
		display: inline-block !important;
		vertical-align: top;
	}
	div.orders_view{
		width: 200px !important;
		display: inline-block !important;
		vertical-align: top;
	}
}