
body, html {
    height: 92%;
}
div.header {
    height: auto;
}
div#login_bar {
    text-align: right;
}
ul.nav-tabs > li {
    font-size: 1.15em;
    text-align: center;
}
ul.nav-tabs > li > a {
    padding-left: 0;
    padding-right: 0;
}
* {
    font-family: 'Nixie One',cursive;
}
#logo {
    width: 60%;
}
ul.nav.nav-tabs {
    margin-bottom: 2%;
}
ul.nav.nav-tabs.nav-stacked > li > a {
    text-align: left;
    padding-left: 7%;
}

div[id*="ddcl"] {
    width: 13%;
}
form#criteria_filter > div#action_buttons {
    margin-top: 5%;
}
img#under_construction {
    margin: 0 auto;
    width: 700px;
}
div.modal {
    left: 0;
    margin: 0 auto;
    padding: 0;
    right: 0;
    width: 70%;
    overflow: hidden;
}
div.modal-header{
    overflow-y:scroll; 
    padding-left: 4%;
}
div.carousel.slide {
    margin: 0;
}
img.modal_carousel_image {
    display: inline-block;
    margin: 0 auto;
}
a.login_switch {
    float: right;
}
.hspn {
    height: inherit;
}
.hspn1 {
    height: 8.29167%;
}
.hspn2 {
    height: 16.5833%;
}
.hspn3 {
    height: 24.875%;
}
.hspn4 {
    height: 33.1667%;
}
.hspn5 {
    height: 41.4583%;
}
.hspn6 {
    height: 49.75%;
}
.hspn7 {
    height: 58.0417%;
}
.hspn8 {
    height: 66.3333%;
}
.hspn9 {
    height: 74.625%;
}
.hspn10 {
    height: 82.9167%;
}
.hspn11 {
    height: 91.2083%;
}
.hspn12 {
    height: 99.5%;
}
a#login_bar_toggle_button > img {
    width: 40px;
}
div#login_bar_content {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 7px 7px;
    text-align: center;
}
div#login_bar_content > p {
    display: inline-block;
    margin-top: 3%;
    white-space: nowrap;
}
div#login_bar_content > p > a {
    display: inline-block;
    margin: 0 5%;
}
