
body, html {
    font-size: 90%;
    height: 92%;
}
div.header {
    height: auto;
    width: auto;
    max-width: 1024px;
    margin:0 auto;
}
ul.nav-tabs > li {
    text-align: center;
}
ul.nav-tabs > li > a {
    font-size: 1.2em;
}
div.modal-header,div.modal-body,ul.nav-tabs > li > a{
    padding-left: 0;
    padding-right: 0;
}

* {
    font-family: 'Raleway',sans-serif !important;
    font-size: 1em;
}
#logo {
    width: 60%;
}
ul.nav.nav-tabs {
    margin-bottom: 2%;
}
ul.nav.nav-tabs.nav-stacked > li > a {
    padding-left: 7%;
    text-align: left;
    font-size: 1em;
}
div[id*="ddcl"] {
    width: 13%;
}
form#criteria_filter > div#action_buttons {
    margin-top: 5%;
}
img#under_construction {
    margin: 0 auto;
    width: 700px;
}
div.modal {
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    right: 0;
    width: 70%;
}
div.carousel.slide {
    margin: 0;
}
img.modal_carousel_image {
    display: inline-block;
    margin: 0 auto;
}
a.login_switch {
    float: right;
}
.hspn {
    height: 99.5%;
}
.hspn1 {
    height: 8.29167%;
}
.hspn2 {
    height: 16.5833%;
}
.hspn3 {
    height: 24.875%;
}
.hspn4 {
    height: 33.1667%;
}
.hspn5 {
    height: 41.4583%;
}
.hspn6 {
    height: 49.75%;
}
.hspn7 {
    height: 58.0417%;
}
.hspn8 {
    height: 66.3333%;
}
.hspn9 {
    height: 74.625%;
}
.hspn10 {
    height: 82.9167%;
}
.hspn11 {
    height: 91.2083%;
}
.hspn12 {
    height: 99.5%;
}
.no-margin{
    margin: 0 !important;
}
.no-margin-left{
    margin-left: 0px !important;
}
.no-margin-right{
    margin-right: 0px !important;
}
.no-margin-top{
    margin-top: 0px !important;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}
.no-margin-vertical{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.no-margin-horizontal{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.no-padding{
    padding: 0 !important;
}
.no-padding-left{
    padding-left: 0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}
.no-padding-top{
    padding-top: 0px !important;
}
.no-padding-bottom{
    padding-bottom: 0px !important;
}
.no-padding-vertical{
    padding-top: 0px !important;
    padding-bottom: 0px; !important
}
.no-padding-horizontal{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.ib{
    display: inline-block;
}
a#login_bar_toggle_button > img {
    float: right;
    width: 14%;
}
div#login_bar_content {
    text-align: right;
}
div#login_bar_content > p {
    border-bottom: 1px solid #DDDDDD;
    display: inline-block;
    margin: 3% 0 1%;
    padding: 0 5%;
    white-space: nowrap;
    text-align: right;
}
div#login_bar_content > p > a {
    margin-right: 10px;
}
button.close {
    font-size: 3em;
    right: 2%;
    position: absolute;
}
div.main_content{
    width: auto;
    max-width: 1024px;
}