@media all and (min-height: 769px){
    div.modal{
        max-height: 700px !important;
        height: 100%;
        max-width: 1120px;
    }
        div.item > img{
        max-height: 600px;
        max-width:960px ;
    }
}

@media all and (max-height: 768px){
    div.modal{
        max-height: 700px;
        height: 100%;
    }

}
.flash_style {
    max-width: 800px;
    margin: 0 auto 1%;
}
body, html {
    font-size: 90%;
    height: 92%;
}
div.header {
    height: auto;
    margin: 0 auto;
    max-width: 1000px;
    width: auto;
}
ul.nav-tabs > li {
    text-align: center;
}
ul.nav-tabs > li > a {
    font-size: 1.2em;
}
div.modal-header, div.modal-body, ul.nav-tabs > li > a {
    padding-left: 0;
    padding-right: 0;
}
* {
    font-family: 'Raleway',sans-serif !important;
    font-size: 1em;
}
#logo {
    margin-top: 3%;
    width: 60%;
}
ul.nav.nav-tabs {
    margin-bottom: 2%;
}
ul.nav.nav-tabs.nav-stacked > li > a {
    font-size: 1em;
    padding-left: 7%;
    text-align: left;
}
div[id*="ddcl"] {
    width: 13%;
}
form#criteria_filter > div#action_buttons {
    margin-top: 5%;
}
img#under_construction {
    margin: 0 auto;
    width: 700px;
}
div.modal {
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    right: 0;
    width: 70%;
}
div.carousel.slide {
    margin: 0;
}
img.modal_carousel_image {
    display: inline-block;
    margin: 0 auto;
}
a.login_switch {
    float: right;
}
.margin-center {
    margin: 0 auto;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-left {
    margin-left: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-vertical {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.no-margin-horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-vertical {
    padding-bottom: 0;
    padding-top: 0 !important;
}
.no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.ib {
    display: inline-block;
}
a#login_bar_toggle_button > img {
    float: right;
    width: 14%;
}
div#login_bar_content {
    text-align: right;
}
div#login_bar_content > p {
    border-bottom: 1px solid #DDDDDD;
    display: inline-block;
    margin: 3% 0 1%;
    padding: 0 5%;
    text-align: right;
    white-space: nowrap;
}
div#login_bar_content > p > a {
    margin-right: 10px;
}
button.close {
    font-size: 3em;
    position: absolute;
    right: 2%;
}
div.main_content {
    max-width: 1000px;
    width: auto;
}
div.error-message{
    color: red;
    font-weight: bold;
}
div.error-flash{
    max-width: 850px !important;
    width: auto;
}
div.item_criteria_value{
    position: absolute;
    right: 0;
    z-index: -1;
}
div.modal{
    max-height: 90%;
}