form > select {
    margin-bottom: 10%;
}
form > h5 {
    margin-bottom: 0;
}
div#image_frame {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #C8C8C8;
    margin-bottom: 3%;
    padding-top: 2%;
    text-align: center;
    padding: 2% 4% 0;
}
div#image_frame > a > img {
    margin-bottom: 3%;
    height: 170px;
}
div#image_frame > p {
    font-size: 1.15em;
}

div.carousel-inner{
    height: 325px;
}

div.carousel-inner > div > img {
    margin: 0 auto;
}

div.modal{
    width:50%;
}

div#paginate{
    margin: -2% 0 0 0;
}